.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  width: calc(100% - 80px);

  padding-left: 40px;
  padding-right: 40px;

  background: gray;
}

.wrapperLogo {
  display: block;
  float: left;

  min-width: 90px;
  height: 90px;

  background: green;
}

.wrapperLink {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  height: 40px;

  background: red;
}
